:root{
    --button-color: #6C63FF;
    --background-color:#F9F7FE;
    --default-heading-font:"Playfair Display",
        serif;
    --paragraph-font: "Poppins",
        sans-serif;
    --primary-font-color:#272142;
}

.about-page {
    padding: 20px 40px;
}


h1{
    font-family: var(--default-heading-font);
    font-size: 96px;
    font-weight: 700;
    margin-bottom: 40px;
}

p {
    font-family: var(--paragraph-font);
        font-size: 36px;
        font-weight: 700;
        
}

h2  {
    font-family: var(--paragraph-font);
    font-weight: normal;
    font-size: 24px;
    margin: 0;
    color:var(--primary-font-color)
}

h3 {
    font-family: var(--paragraph-font);
    font-size: 24px;
    text-align: center;
    font-weight: 700;
}
.cover-wrap {
    background-color:var(--background-color);
    text-align: center;
    padding: 160px 10px;

}

.about-heading {
    font-family: var(--default-heading-font);
    font-size: 64px;
    font-weight: 700;
    line-height: 85.31px;
}

.about-subheading {
    font-family: var(--paragraph-font);
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;

}


.about-section-content {
    margin: 36px;
}

.about-details {
    font-family: var(--paragraph-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    opacity: 70%;
}

.btn-contact {
border-radius: 4px;
padding: 15px 28px;
color: white;
background: var(--button-color);
font-size: 18px;
line-height: 27px;
}

.second-page-header {
    color: var(--primary-font-color);
    font-size: 18px;
    text-align: center;
    font-weight: normal;
    margin-top: 100px;
}

.secondary-heading {

    font-size: 64px;
    font-family: var(--default-heading-font);
    font-weight: 700;
    text-align: center;
    
}

.description{
    font-family: var(--paragraph-font);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    opacity: 70%;
    line-height: 30px;
}


.project-button {
    background: var(--button-color);
    color: white;
    padding: 18px 30px;
}



.clear-button {
    
   font-size: 18px;
    line-height: 27px;
    border-radius: 4px;
    padding: 10px 20px;
    color: var(--button-color);
    border: 1px solid var(--button-color);

}

.work-heading {
    font-family: var(--default-heading-font);
    font-size: 64px;
    font-weight: 700;
    line-height: 85.31px;
}
.social-links a {
    text-align: center;
    margin: 0 20px;
    color:var(--button-color);
    background-color: var(--background-color);
    padding: 10px 14px;
    font-size: 18px;
    border-radius: 50%;
    transition: all 150ms ease-in-out;

   
}

footer .social-links a:hover {
    color: white;
    background-color: var(--button-color);
}

.footer {
    font-size: 18px;
    font-family: var(--paragraph-font);
    font-weight: 400;
    line-height: 27px;
    opacity: 70%;
    margin: 0px;

}

h4 {
    font-family: var(--default-heading-font);
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
}

.contact-box {
    background-color: var(--background-color);
    padding: 30px 120px;
    border-radius: 10px;
    font-size: 18px;
    line-height: 27px;
    font-family: var(--paragraph-font);
    font-weight: 500;
}


footer .footer-email {
    font-size: 24px;
        text-decoration: none;
        color: #000000;
        font-weight: 500;
        font-weight: var(--paragraph-font);
        display: block;
        text-align: center;
    }

    footer .footer-email:hover {
        color: var(--button-color);
    }

.description-left {
    padding: 120px 60px;
}

.picture-subheadings {
    font-family: var(--paragraph-font);
    font-size: 14px;
    opacity: 70%;
    text-align: center;
    font-weight: 400;
}

.contact-page  {
    font-family: var(--default-heading-font);
    font-size: 64px;
    font-weight: 700;
}

.email {
    text-align: center;
    font-size: 20px;
}

.my-email {
    font-size: 18px;
}

.contact-container {
    text-align: center;
}

.logo {
    max-height:150px;
}

nav li {
    display: inline;
    list-style: none;
    line-height: 42px;
    font-family: var(--paragraph-font);
    font-size: 16px;
    margin-left: 15px;
}

nav a {
    text-decoration: none;
    color: #272142;
    transition: all 100ms ease-in-out;
}

nav a:hover {
    color: var(--button-color);
}


nav ul {
    padding: 0;
}

nav {
    padding: 20px 0;
}

nav li.active a {
  color: var(--button-color);
}


@media (max-width: 992px) {
    .description-left {
        padding: 0;
        text-align: center;
    }

    h1 {
        font-size: 50px;
    }

    .secondary-heading {
        font-size: 40px;
    }

    .footer-container {
        padding: 20px;

    }

    h4 {
        font-size: 30px;
        line-height: 1.2;
    }

    .footer {
        font-size: 14px;
    }

    

    .cover-wrap {
       padding: 50px 25px; 
    }

    p{
        font-size: 24px;
    }

    .picture-subheadings p {
        font-size: 10px;
    }

    h3 {
        font-size: 16px;
    }

    h2 {
        font-size: 18px;
    }

    .second-page-header {
        font-size: 16px;
    }

    .description {
        font-size: 14px;
    }

    .about-page {
        padding: 0px;
        text-align: center;
    }

    .about-heading {
        font-size: 50px;
        line-height: 1.1;
    }

    .about-subheading {
        font-size: 16px;
    }

    .about-details {
        font-size: 14px;
}

.project-button {
    padding: 5px;
    font-size: 12px;
}

.work-heading {
    font-size: 30px;
    line-height: 1.2;
    
}

.contact-page {
    font-size: 30px;
}

.email {
    font-size: 14px;
}

.my-email {
    font-size: 12px;
}

.footer-container {
    display: block;
    text-align: center;
    padding: 0px;

}
footer .footer-email {
    font-size: 16px;
}

.footer-container {
    padding: 20px;
    display: block;
    margin: 10px;
}

}
